/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Imported font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* color variables */
:root {
    --primary: black;
    --secondary: orange;
    --tertiary:  white;
  }

  /* reset */
body,p,a,li{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  /* base styles */
body{
    background:var(--tertiary);
    font-family: "Montserrat", serif;

  }