
/* Primary font */


/* styles/global.css */
O




/* Imported font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* color variables */
:root {
    --primary: black;
    --secondary: orange;
    --tertiary:  white;
  }

  /* reset */
body,p,a,li{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Work Sans", sans-serif;




  }

  /* base styles */
body{
    background:var(--tertiary);

    font-family: "Work Sans", sans-serif;


    font-family: "Work Sans", sans-serif;




  }